<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.rogarithm.todos.domain.todo.dao.TodoMapper">

  <select id="selectTodoById" parameterType="Long"
    resultType="kr.rogarithm.todos.domain.todo.domain.Todo">
    SELECT
    id, name, description, state, created_at
    FROM todo
    WHERE id = #{id}
  </select>

  <select id="selectTodos" parameterType="Long"
    resultType="kr.rogarithm.todos.domain.todo.domain.Todo">
    SELECT
    id, name, description, state, created_at
    FROM todo
    <if test="state == 'INCOMPLETE' or state == 'COMPLETE'">
      WHERE state = #{state}
    </if>
    LIMIT #{size}
  </select>

  <insert id="insertTodo" parameterType="kr.rogarithm.todos.domain.todo.domain.Todo"
    keyProperty="id" useGeneratedKeys="true" >
    INSERT INTO todo
    (name, description, state)
    VALUES
    (#{name}, #{description}, #{state})
  </insert>

  <delete id="deleteTodoByNameAndDescription">
    DELETE FROM todo
    WHERE name = #{name}
    AND description = #{description}
  </delete>

</mapper>